*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.roboto{
	font-family: 'Roboto', sans-serif;
}

header{
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
	height: 80px;
	padding-top: 50px;
	padding-bottom: 60px;
	position: fixed;
	z-index: 300;
	background: #4E4E4E;

}

.logo{
	width: 150px;
	margin-left: 35px;
	margin-top: 20px;
}

.espacioNav{
	display: flex;

	
}
.listaMenu{
	list-style: none;
	display: flex;
	//align-items: center;

}


.itemMenu{
	margin-right: 30px;

}

.itemMenu a{
	color:white;
	text-decoration: none;
	font-size: 1em;
}

.titulo{
	padding-top: 160px;
	margin-left: 80px;
	width: 60%;
	border-bottom: 1px solid black;
}


.espacioDescripcion{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.espacioImagenPrincipal{
	width: 100%;
	display: flex;
	justify-content: center;
}
.descripcionEquipo{
	width: 600px;
	display: flex;
	justify-content: center;
	margin-top: 60px;
	text-align: center;
}

.espacioEquipo{
	display: flex;
	justify-content: center;
	margin-top: 40px;
	flex-wrap: wrap;
	margin-bottom: 100px;

}

.espacioEquipo .columna{
	margin-right: 80px;
}

.columnaEspecial{
	margin-right: 0;
}
.persona{
	padding-top: 40px;
	margin: auto;
	text-align: center;
}
.espacioEquipo .columna .persona img{
	width: 150px;
	height: 150px;
	border-radius: 100px;
	filter: grayscale(100%);
}

.espacioEquipo .columna .persona img:hover{
	filter: grayscale(0);
}

footer{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: #5BCAF3;

}

.redesSociales{
	width: 100%;
	display: flex;
	margin-top: 20px;
	margin-left: 20px;
	border-bottom: 2px solid black;
}


.redesSociales a{
	color:black;
	text-decoration: none;
	margin-left: 20px;
	margin-bottom: 10px;
}

.redesSociales a:hover{
	color: white;
}

.redesSociales a i{
	font-size: 25px;
}

footer .columna{
	margin-top: 20px;
	margin-left: 60px;
	margin-bottom: 10px;
}
footer .columna h6{
	font-size: 20px;
}

footer .columna ul{
	list-style: none;
	margin-top: 5px;
}

footer .columna ul li a{
	text-decoration: none;
	color: black;
}
footer .columna ul li a:hover{
	color: white;
}

.copyRight{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}