*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.roboto{
	font-family: 'Roboto', sans-serif;
}

.cabecera{
	background: url("../imagenes/cabecera.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
	height: 580px;
	color: white;

}


header{
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
	//height: 80px;
	margin-bottom: 20px;
	//padding-bottom: 0px;
	position: fixed;
	z-index: 300;
	//background: black;

}


.cabeceraNoHeader{
	padding-top: 200px;

}

.logo{
	width: 130px;
	margin-left: 35px;
	margin-top: 10px;
}

.espacioNav{
	display: flex;

	
}
.listaMenu{
	list-style: none;
	display: flex;
	//align-items: center;

}


.itemMenu{
	margin-right: 30px;

}

.itemMenu a{
	color:white;
	text-decoration: none;
	font-size: 1em;
}

#botonMenu{
	display: none;
}

.espacioTitulo{
	display: flex;
	justify-content: center;
	align-content: center;
}

.titulo{
	font-size: 40px;
	text-shadow: 1px 1px white, -1px -1px #333;
   	text-shadow: 1px 2px #999;
}

.subtitulo{
	font-size: 20px;
	margin-top: 50px;
	text-shadow: 1px 1px #999;
	text-align: center;
}

#botonInicio{
	background: #31384a;
	color: #ffffff;
	padding: 20px 60px;
	outline: 0 none;
	border:0;
	font-size: 15px;
	border-radius: 8px;
	font-weight: bold;
	margin-top: 50px;
	cursor: pointer;
}

#botonInicio:hover{
	background: #313800;
}

.centrado{
	display: flex;
	justify-content: center;
}

.anotacion{
	//color: black;
	margin-top: 10px;
	font-size: 13px;
}

.propiedadesProducto{
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
}

.col{
	width: 500px;
}

.tituloInfo{
	width: 100%;
}

.itemInfo{
	display: flex;
	align-items: center;
	
}

.itemInfo img{
	min-width: 113px;
}

.tituloPropProducto{

	margin-bottom: 50px;
}

.caracteristica1{
	text-align: center;
	background-color: #f9f9f9;
	margin-top: 10px;
}
.caracteristica1-1{
	display: flex;
	align-items: center;
	width: 50%;
	margin: auto;

	
}

.imagenResponsive{
	width: 400px;
}

.caracteristica2{
	margin-top: 20px;
	text-align: center;
}

.imagenDispositivos{
	margin-left: 20px;
}

footer{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: #5BCAF3;
}

.redesSociales{
	width: 100%;
	display: flex;
	margin-top: 20px;
	margin-left: 20px;
	border-bottom: 2px solid black;
}


.redesSociales a{
	color:black;
	text-decoration: none;
	margin-left: 20px;
	margin-bottom: 10px;
}

.redesSociales a:hover{
	color: white;
}

.redesSociales a i{
	font-size: 25px;
}

footer .columna{
	margin-top: 20px;
	margin-left: 60px;
	margin-bottom: 10px;
}
footer .columna h6{
	font-size: 20px;
}

footer .columna ul{
	list-style: none;
	margin-top: 5px;
}

footer .columna ul li a{
	text-decoration: none;
	color: black;
}
footer .columna ul li a:hover{
	color: white;
}

.copyRight{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	text-align: center;
}

@media (max-width: 1350px){

	.caracteristica1-1{
		width: 90%;
	}
}

@media (max-width: 790px){

	header{
		flex-wrap: wrap;
	}
	.espacioLogo{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	#botonMenu{
		display: block;
		color: white;
		font-size: 40px;
		margin-top: 50px;
		margin-right: 100px;
		cursor: pointer;
	}

	.espacioNav{
		display: none;
	}



	nav{
		width: 100%;
	}
	.itemMenu{
		width: 100%;
	}
	.itemMenu a{
		display: block;
	}

	.itemMenu a:hover{
		color: #5BCAF3;
		background: grey;
	}
}

@media (max-width: 650px){

	.titulo{
		font-size: 35px;
	}

	.subtitulo{
		font-size: 18px;
	}


.imagenResponsive{
		width: 250px;
}

	.caracteristica1-1{
		flex-wrap: wrap;
	}
}




@media (max-width: 550px){
	.titulo{
		font-size: 25px;
	}

	.subtitulo{
		font-size: 19px;
	}
}

@media (max-width: 450px){
	.espacioImagen1{
		font-size: 12px;
	}

	.espacioImagen1 h1{
		font-size: 18px;
	}

	#botonMenu{
		margin-right: 30px;
		margin-top: 35px;
		font-size: 30px;
	}

	.logo{
		width: 80px;
	}
}

@media (max-width: 350px){

	body{
		font-size: 13px;
	}
	.titulo{
		font-size: 25px;
	}

	.subtitulo{
		font-size: 15px;
	}
}