*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html,body{
	min-height: 100%;
}
.roboto{
	font-family: 'Roboto', sans-serif;
}

header{
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
	position: fixed;
	z-index: 300;
	background: #4E4E4E;

}

.logo{
	width: 150px;
	margin-left: 35px;
	margin-top: 0px;
}

#botonMenu{
	display: none;
}

.espacioNav{
	display: flex;

	
}
.listaMenu{
	list-style: none;
	display: flex;
	//align-items: center;

}


.itemMenu{
	margin-right: 30px;

}

.itemMenu a{
	color:white;
	text-decoration: none;
	font-size: 1em;
}

.titulo{
	padding-top: 190px;
	margin-left: 80px;
	width: 60%;
	border-bottom: 1px solid black;

}
.tablaDeComparacion{

	margin-top: 100px;
	margin-bottom: 50px;
}

table{
	margin: auto;
	border: 1px solid;
	border-collapse: collapse;
	text-align: center;
}

table td{
	//text-align: right;
}

table thead th{
	border-bottom: 1px solid;
	border-left: 1px solid;
	padding: 10px;
	//text-align: right;
}

table tbody tr{
	text-align: center;
}
table tbody td{
	border-right: 1px solid;
	border-top: 1px solid;
	padding: 10px;
	//text-align: center;


}

.botonObtenerAhora{
	border: 1px solid #5BCAF3;
	border-radius: 5px;
	outline: 0 none;
	background: #fff;
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}

.botonObtenerAhora:hover{
	background: #5BCAF3;
}

footer{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: #5BCAF3;
	margin-top: 200px;
}

.redesSociales{
	width: 100%;
	display: flex;
	margin-top: 20px;
	margin-left: 20px;
	border-bottom: 2px solid black;
}


.redesSociales a{
	color:black;
	text-decoration: none;
	margin-left: 20px;
	margin-bottom: 10px;
}

.redesSociales a:hover{
	color: white;
}

.redesSociales a i{
	font-size: 25px;
}

footer .columna{
	margin-top: 20px;
	margin-left: 60px;
	margin-bottom: 10px;
}
footer .columna h6{
	font-size: 20px;
}

footer .columna ul{
	list-style: none;
	margin-top: 5px;
}

footer .columna ul li a{
	text-decoration: none;
	color: black;
}
footer .columna ul li a:hover{
	color: white;
}

.copyRight{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	text-align: center;
}

@media (max-width: 790px){

	header{
		flex-wrap: wrap;
	}
	.espacioLogo{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	#botonMenu{
		display: block;
		color: white;
		font-size: 40px;
		margin-top: 55px;
		margin-right: 100px;
		cursor: pointer;
	}

	.espacioNav{
		display: none;
	}



	nav{
		width: 100%;
	}
	.itemMenu{
		width: 100%;
	}
	.itemMenu a{
		display: block;
	}

	.itemMenu a:hover{
		color: #5BCAF3;
		background: grey;
	}
}

@media (max-width: 550px){
	.titulo{
		font-size: 25px;
	}

	.subtitulo{
		font-size: 19px;
	}


}

@media (max-width: 450px){
	.titulo{
		font-size: 15px;
	}
	.espacioImagen1{
		font-size: 12px;
	}

	.espacioImagen1 h1{
		font-size: 18px;
	}

	#botonMenu{
		margin-right: 30px;
		margin-top: 35px;
		font-size: 30px;
	}

	.logo{
		width: 80px;
	}
}

@media (max-width: 350px){

	body{
		font-size: 13px;
	}
	.titulo{
		font-size: 13px;
	}

	.subtitulo{
		font-size: 15px;
	}
}



table{
	min-width: 800px;

}



.tablaDeComparacion{
	overflow-x: auto;

}

td:nth-child(1){
	position: absolute;
	background: white;
	width: 10em;
	height: 60px;
}

th:nth-child(1){
	width: 10em;




}